
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@400;700&display=swap');

*, *::before , *::after{
  padding:0;
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

 .Wrapper{
  padding-left:300px;
  padding-right:300px;
} 

@media(max-width:1400px){
  .Wrapper{
    padding-left:200px;
    padding-right:200px;
  }
}

@media(max-width:1200px){
  .Wrapper{
    padding-left:100px;
    padding-right:100px;
  }
}

@media(max-width:1000px){
  .Wrapper{
    padding-left:50px;
    padding-right:50px;
  }
}

